@model CiberNdc.Models.Message
@{
    DisplayModeProvider.Instance.RequireConsistentDisplayMode = true;
}

<div id="message" style="position: absolute; width: 100%; height: 100%; background: #000; color: #fff; text-align: center ">
    <img src="/Content/ciber/Vertical_Color.png" width="50%"/>
    <h1 style="color: white">@Model.Title</h1>
    <h3 style="color: white">@Model.Text</h3>
</div>