@model IEnumerable<CiberNdc.Models.Employee>
@{
    ViewBag.Title = "Ciber @ NDC";
    Layout = "~/Views/Shared/_Layout.mobile.cshtml";
}

<div data-role="content">
    <h2>Velkommen til Ciber Norge sin NDC-webapp!</h2>
    <h4>Her kan du:</h4>
    <p>Ta Cibers NDC-Quiz og bli med i trekningen av en Nokia Lumia 800.</p>
    <p>
        Laste opp eller ta bilde av Ciber-ansatte og bli med i den daglige trekningen av gavekort på G-Sport. De du tar bilde av vil bli ansiktsgjenkjent, og du må ha fylt inn det riktige kodeordet for at bildet skal bli godkjent. Spør hver ansatt etter dette! 
    </p>

    <a href="http://5a24b1ea-aafc-11e1-8cac-9ce76188709b.apphb.com/" data-role="button">Gå til Quiz</a>
    <a href="Home/TakePhoto" data-role="button">Ta bilde</a>
    <a href="Home/UploadPhoto" data-role="button">Last opp bilde</a>
    <h4>NB!</h4>
    <div id="notis">
        <p>Kamera-funksjonaliteten støttes kun i siste versjon av Opera Mobile! For å delta med iPhone må du benytte Opera Mini, som har støtte for opplasting av bilder fra fotoalbumet på mobilen.</p>
    </div>
</div>
