@model dynamic

@{
    ViewBag.Title = "CIBER @ NDC";
}



<link href="~/Content/metro/metro.css" rel="stylesheet" />

<div class="page-header" style="text-align: center; margin-bottom: 50px;">
  <h1>CIBER @@ NDC</h1>
</div>
<div class="tiles well" style="width: 980px; text-align: center; margin-left: auto; margin-right: auto;">
    <div class="tilerow">
        <div class="tile one greenbg"><a href="#" /><img src="~/Content/images/slow-and-steady-wins-the-race.jpg" alt=""/></div>
        <div class="tile one bluebg"><a href="#" /></div>
        <div class="tile two-h tealbg"><a href="#" /><span style="font-size: 2em;">HERE WE GO BOYS</span></div>
        <div class="tile two-h redbg"><a href="#" /><span style="font-size: 1.4em;">Let's do this</span></div>
    </div>

    <div class="tilerow">
        <div class="tile one greenbg"><a href="#" /><img src="~/Content/images/slow-and-steady-wins-the-race.jpg" alt=""/></div>
        <div class="tile one bluebg"><a href="#" /></div>
        <div class="tile one tealbg"><a href="#" /><span style="font-size: 2em;">HERE WE GO BOYS</span></div>
        <div class="tile one redbg"><a href="#" /><span style="font-size: 1.4em;">Let's do this</span></div>
    </div>

    <div class="tilerow">
        <div class="tile one greenbg"><a href="#" /><img src="~/Content/images/slow-and-steady-wins-the-race.jpg" alt=""/></div>
        <div class="tile one bluebg"><a href="#" /></div>
        <div class="tile one tealbg"><a href="#" /><span style="font-size: 2em;">HERE WE GO BOYS</span></div>
        <div class="tile two-h redbg"><a href="#" /><span style="font-size: 1.4em;">Let's do this</span></div>
    </div>
</div>


<script src="~/Scripts/metro/jquery.metro.js"></script>

<script>
</script>