@using System.Collections
@model IEnumerable<CiberNdc.Models.Employee>
@{
    ViewBag.Title = "CIBER @ NDC";
}


<div id="tiles" class="blue">
    <div class="green live-tile exclude">
        <span class="tile-title">Upload your own photos of us!</span>
        <h3 style="text-align: center">@ViewBag.Title</h3>
    </div>
    @foreach (var e in Model)
    {
        <div class="live-tile purple" data-mode="flip" data-delay="5000">
            @foreach (var photo in e.Photos)
            {
                <div>
                    <img src="/Home/GetImage/@photo.Id"/>
                    <a class="tile-title">@photo.Employee.Name</a>
                </div>
            }
        </div>
    }
</div>

<script src="~/Scripts/metro/jquery.metro.js"></script>
<script type="text/javascript">
    // apply regular slide universally unless .exclude class is applied 
    // NOTE: The default options for each liveTile are being pulled from the 'data-' attributes
    $(".live-tile, .flip-list").not(".exclude").liveTile();
</script>