@model List<CiberNdc.Models.Photo>
@{
    ViewBag.Title = "CIBER @ NDC";
}

<link href="~/Content/metro/metro.css" rel="stylesheet" />

<div class="page-header" style="text-align: center; margin-bottom: 50px;">
    <p>Take pictures of as Ciber-employees and ask them for their ultra-secret code.</p>
</div>
<div class="tiles well" style="width: 980px; text-align: center; margin-left: auto; margin-right: auto;">
    <div class="tilerow">
        <div class="tile one greenbg"><a href="#"></a><img src="~/Content/images/slow-and-steady-wins-the-race.jpg" alt=""/></div>
        <div class="tile one redbg"><a href="#"></a><span style="font-size: 1.4em;">Take picture</span></div>
        <div class="tile one greenbg"><a href="#"></a><img src="~/Content/images/slow-and-steady-wins-the-race.jpg" alt=""/></div>
        <div class="tile one redbg"><a href="#"></a><span style="font-size: 1.4em;">Take picture</span></div>
    </div>

    <div class="tilerow">
        <div class="tile one greenbg"><a href="#"></a><img src="~/Content/images/slow-and-steady-wins-the-race.jpg" alt=""/></div>
        <div class="tile one redbg"><a href="#"></a><span style="font-size: 1.4em;">Take picture</span></div>
        <div class="tile one greenbg"><a href="#"></a><img src="~/Content/images/slow-and-steady-wins-the-race.jpg" alt=""/></div>
        <div class="tile one redbg"><a href="#"></a><span style="font-size: 1.4em;">Take picture</span></div>
    </div>
    <div class="tilerow">
        @foreach (var photo in Model)
        {
            var randomBackground = photo.RandomBackgroundColor();
            <div class="tile one @randomBackground"><a href="#"></a><img src="/Home/GetImage/@photo.Id" alt=""/></div>
        }
    </div>
</div>

<script src="~/Scripts/metro/jquery.metro.js"></script>