@model IEnumerable<CiberNdc.Models.Employee>
@{
    ViewBag.Title = "Ciber @ NDC";
}

<div data-role="content">
    <h2>Velkommen til Ciber Norge sin NDC-webapp!</h2>
    <h4>Her kan du:</h4>
    <p>Ta Cibers NDC-Quiz og bli med i trekningen av en Nokia Lumia 800.</p>
    <p>Last opp eller ta bilde(hvis du har siste versjon av Opera Mobile) av Ciber-ansatte og bli med i den daglige trekningen av gavekort på XXL. De du tar bilde av vil bli ansiktsgjenkjent. Du må ha fylt inn det riktige ansatt-kodeordet for at bilde skal bli godkjent. Spør de ansatte etter dette! 
        </p><p><b>NB!</b> For å delta med iPhone må du benytte Opera Mini, som har støtte for opplasting av bilder fra bildestrømmen.</p>
       
    
    <a href="http://5a24b1ea-aafc-11e1-8cac-9ce76188709b.apphb.com/" data-role="button">Gå til Quiz</a>
    <a href="Home/TakePhoto" data-role="button">Ta bilde</a>
    <a href="Home/UploadPhoto" data-role="button">Last opp bilde</a>
</div>
