@using System.Collections
@model dynamic

@{
    ViewBag.Title = "Ta bilde";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<div class="row">
    <div class="span6">&nbsp;</div>
    <div data-role="content" class="span6">
    
        

        <div id="loading" data-bind="visible: loading">
            <h3>Laster opp bilde...</h3>
            <img src="/Content/images/ajax-loader.gif">
            <canvas id="myCanvas"></canvas>
        </div>
    
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <label for="codeword">
                    Hva er den ansattes kodeord?
                </label>
                <input type="text" id="codeword" data-bind="value:codeword" onblur="if (this.value == '') {this.value = 'codeword';}"  onfocus="if (this.value == 'codeword') {this.value = '';}" />
            </fieldset>
            <fieldset data-role="controlgroup">
                <label for="uploadedby">
                    Ditt navn og telefonnummer:
                </label>
                <input type="text" id="uploadedby" data-bind="value:uploadedby" onblur="if (this.value == '') {this.value = 'Name and Phonenumber';}"  onfocus="if (this.value == 'Name and Phonenumber') {this.value = '';}"/>
            </fieldset>

            <div class="purple-square">
                <video id="video" autoplay data-bind="videoInit: 'null'" ></video>
                
            </div>
        </div>
        <div class="msg-holder" data-bind="visible: showMsg()" >
            <div data-bind="message: failure,visible: failure" class='error-msg ui-overlay-shadow ui-body-c ui-corner-all'>
                <h2>Feil: <span data-bind="text: message"></span></h2>
            </div>
            <div data-bind="message: success,visible: success" class='success-msg ui-overlay-shadow ui-body-c ui-corner-all'>
                <h2>Suksess: <span data-bind="text: message"></span></h2>
            </div>
        </div>
        <div id="photobutton">
            <button data-bind="takePicture: 'null'" data-icon="plus" data-iconpos="left">Ta bilde</button>
        </div>

    </div>
</div>


<script src="/Scripts/knockout.js"></script>
<script src="/Scripts/jquery-1.6.4.js"></script>
<script src="/Scripts/custom/videoInit.js"></script>
<script src="/Scripts/custom/takePicture.js"></script>
<script src="/Scripts/custom/message.js"></script>
<script>
    function workspaceViewModel () {

        var self = this;

        self.stream = null;
        self.imageData = ko.observable();
        self.url = '/Home/UploadAndRecognize/';
        self.success = ko.observable(false);
        self.failure = ko.observable(false);
        self.loading = ko.observable(false);
        
        var json = new Object();
        self.message = ko.observable('');
        self.codeword = ko.observable('kodeord');
        self.uploadedby = ko.observable('Navn og telefon');

        self.imageData.subscribe(function (value) {

            json.image = value;
            json.codeword = self.codeword();
            json.uploadedby = self.uploadedby();
            self.failure(false);
            self.success(false);
            $.ajax({
                url: self.url,
                type: 'post',
                beforeSend: function () { self.loading(true); },
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(json),
                success: self.successCallback,
                error: self.errorCallback
            });
        });


        this.successCallback = function (data) {

            self.message('');

            self.loading(false);

            if (data.success) {
                self.message(data.message);
                self.success(true);
                self.failure(false);
            }
            else if (data.warning) {
                self.message(data.message);
                self.success(false);
                self.failure(true);
            }
            else {
                self.message("Something went wrong!");
                self.failure(true);
                self.success(false);

            }
        };

        this.errorCallback = function (data) {
            self.loading(false);
            alert('Something went wrong');
        };


        this.showMsg = function () {
            self.loading(false);
            return self.success() || self.failure();

        };
    };

    $(document).ready(function () {
        var workspace = new workspaceViewModel();
        $(function () {
            ko.applyBindings(workspace, $('workspace').get(0));
        });
    });

</script>