@model dynamic

@{
    ViewBag.Title = "Upload photo";

    var warning = (string)ViewBag.Warning;
    var success = (string)ViewBag.Success;
}
@if (!string.IsNullOrEmpty(warning))
{
    <div class="alert alert-error">
        @warning
    </div>
}

@if (!string.IsNullOrEmpty(success))
{
    <div class="alert alert-success">
        @success
    </div>
}

<h2>Upload photo</h2>

@using (Html.BeginForm("UploadPhotoPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <div class="editor-label">
            Choose an image of an employee
        </div>
        <div class="editor-field">
            <input type="file" name="fileUpload" id="fileUpload" /><br />
        </div>
        
        <div class="editor-label">
            What is this person's codeword?
        </div>
        <div class="editor-field">
            <input id="codeword" name="codeword" type="text" />
        </div>

        <div class="editor-label">
            Who are you?
        </div>
        <div class="editor-field">
            <input id="uploadedby" name="uploadedby" type="text" value="Name (phonenumber)" />
        </div>

        <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset>
}
