@model dynamic

@{
    ViewBag.Title = "Last opp bilde";
    Layout = "~/Views/Shared/_Layout.mobile.cshtml";

    var warning = (string)ViewBag.Warning;
    var success = (string)ViewBag.Success;
}
@if (!string.IsNullOrEmpty(warning))
{
    <script type="text/javascript">
        alert("@(warning)");
    </script>
}

@if (!string.IsNullOrEmpty(success))
{
    <script type="text/javascript">
        alert("@(success)");
    </script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("UploadPhotoPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <div class="editor-label">
            Velg et bilde
        </div>
        <div class="editor-field">
            <input type="file" name="fileUpload" id="fileUpload" /><br />
        </div>
        
        <div class="editor-label">
            Hva er den ansattes kodeord?
        </div>
        <div class="editor-field">
            <input id="codeword" name="codeword" type="text" value="kodeord" onblur="if (this.value == '') {this.value = 'kodeord';}"  onfocus="if (this.value == 'kodeord') {this.value = '';}" />
        </div>

        <div class="editor-label">
            Ditt navn og telefonnummer:
        </div>
        <div class="editor-field">
            <input id="uploadedby" name="uploadedby" type="text" value="Navn og telefon" onblur="if (this.value == '') {this.value = 'Navn og telefon';}"  onfocus="if (this.value == 'Navn og telefon') {this.value = '';}"/>
        </div>

        <p>
            <input type="submit" value="Last opp" />
        </p>
    </fieldset>
}
