@model dynamic

@{
    ViewBag.Title = "Upload photo";

    var warning = (string)ViewBag.Warning;
    var success = (string)ViewBag.Success;
}
@if (!string.IsNullOrEmpty(warning))
{
    <script type="text/javascript">
        alert("@(warning)");
    </script>
}

@if (!string.IsNullOrEmpty(success))
{
    <script type="text/javascript">
        alert("@(success)");
    </script>
}

<h2>Upload photo</h2>

@using (Html.BeginForm("UploadPhotoPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <div class="editor-label">
            Choose an image of an employee
        </div>
        <div class="editor-field">
            <input type="file" name="fileUpload" id="fileUpload" /><br />
        </div>
        
        <div class="editor-label">
            What is this person's codeword?
        </div>
        <div class="editor-field">
            <input id="codeword" name="codeword" type="text" value="codeword" onblur="if (this.value == '') {this.value = 'codeword';}"  onfocus="if (this.value == 'codeword') {this.value = '';}" />
        </div>

        <div class="editor-label">
            Who are you?
        </div>
        <div class="editor-field">
            <input id="uploadedby" name="uploadedby" type="text" value="Name and Phonenumber" onblur="if (this.value == '') {this.value = 'Name and Phonenumber';}"  onfocus="if (this.value == 'Name and Phonenumber') {this.value = '';}"/>
        </div>

        <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset>
}
